/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

data/config.yaml
data/server_config.yml
data/stats.yml
data/verify_codes.yaml
data/schedule.txt
logs/*.log

data/associations.yaml
data/channel_owners.yaml