<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Frank Matranga">

        <title><%= "#{@title} | " if @title %>Regit</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Theme -->
        <link rel="stylesheet" href="http://bootswatch.com/cyborg/bootstrap.min.css">

        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <header>
            <%= erb :'includes/header' %>
        </header>

        <div class="container">
            <main>
                
                <%= erb :'includes/info' %>
                <%= yield %>
            
            </main>

            <footer>
                <iframe src="https://discordapp.com/widget?id=150739077757403137&theme=dark" style="width: 100%" height="500" allowtransparency="true" frameborder="0"></iframe>
            </footer>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
