<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron clearfix">
      <!-- <img class="right hidden-xs" src="http://az616578.vo.msecnd.net/files/2015/07/23/635732924053603777-93632716_group.png"> -->
      <h1>Server Users</h1>
      <p>
        Each school server is open to all students at that school (School Name). Guests (non-students) are allowed on the server by invitation yet can only see #public-room and join voice-channel <b>Public Room</b>.
        <br><br>
        <a class="btn btn-primary" href="#students">SCHOOL NAME Students</a>
        <a class="btn btn-default" href="#guests">Server Guests</a>
      </p>
    </div>
  </div>
</div>
